:root{
    --primary-color: blue;
    --primary-color: red;
    --padding: 20px;
    --ajnicolor: pink;
    --darisicolor: green;
    --paddingrigoni:16px;
}

h1{
    background: var(--ajnicolor);
    color: var(--darisicolor);
    padding: var(--paddingrigoni);
}
p{
    background: var(--ajnicolor);
    color: var(--darisicolor);
    padding: var(--paddingrigoni);
}

#example-one{
margin: 10px;
    width: 120px;
    height: 120px;
    margin: 100px;
    border-radius: 50%;
    background-color: springgreen;
}

#example-two{
    margin: 10px;
    width: 120px;
    height: 120px;
    margin: 120px;
    border-radius: 20px;
    border: 3px solid orangered;
}

#example-three{
margin: 10px;
    width: 120px;
    height: 120px;
    margin: 120px;
    border-radius: 20px;
    background: url(../part2/jersey_3.jpg);
}

#example-four{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 5px 60px 5px;
    background-color: red;
}

#example-five{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px/30px;
}