p{
    /*color: purple;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 85px;
    margin-bottom: 100px;

    margin: 100px, 100px,100px;*/

    margin: 100px, 85px ,100px;

    margin: 1px;

    margin:25px 50px 75px;
}